*{
    padding:0px;
    margin:0px;
    font-family: "Roboto", sans-serif;   
}
body{
    margin:0px;
    padding: 0px;
    background-color: rgb(4, 2, 17);
    color: aliceblue;
}

/* Header section ----------------------------------------------------------------------------------------*/
header{
    display: flex;
    height:20vh;
    align-items: center;
    background-color: rgba(3, 3, 46, 0.568);
    
}
    .logocontainer{
        display: flex;
        justify-content: center;
        width:45vw;
        }
        .logo{

        }
    .buttons{
        display: flex;
        justify-content: flex-end;
        width:55vw;
        font-size:small;
        padding-right: 10vw;
        gap:20px;
    }
        .btn{
            padding-top: 15px;
            text-decoration: dashed;
            width: 80px;
            color:aliceblue;
            text-align: center;
            transition:color 0.5s ;
            font-family:"Montserrat";
        }
        .btn:hover{
            color:rgba(240, 248, 255, 0.651);
        }
        .btn-adv{
            padding-top: 15px;
            width:100px;
            height: 30px;
            text-align:center;
            border-radius: 5px;
            background-color: red;
            text-decoration: dotted;
            color: aliceblue;
            margin-left:20px;
            transition:background-color 0.5s;
            font-family:"Montserrat";   
            }
            .btn-adv:hover{
                background-color: rgba(255, 0, 0, 0.63);
            }

/* About Card---------------------------------------------------------------------- */
    .aboutcard{
        display: grid;
        grid-template-columns: 45vw 50vw 2vw;
        grid-template-rows:80vh;
        background-color: rgba(3, 3, 46, 0.568);

    }
        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:25vh;
        }
            .textarea{
                display: flex;
                flex-direction: column;
                gap:1vh;
                width: 30vw;
            }
                .welcome{
                        width: 120px;
                        height: 25px;
                        text-align: center;
                        padding-top:1.5vh;
                        border-radius: 5px;
                        background-color: rgba(63, 39, 7, 0.596);
                        font-size:10pt;
                        font-family: "Montserrat";
                        color: rgba(255, 255, 255, 0.74);
                }
                .akash{
                   
                    font-size:35pt;
                    font-weight:900;
                    font-family:'Times New Roman', Times, serif;
                    color: rgba(255, 255, 255);
                }
                .sde{
                    font-size:12pt;
                    font-family:"Montserrat";
                    color: rgba(255, 255, 255);
                    padding-bottom: 3vh;
                }
                .intro{
                    font-size:9pt;
                    line-height: 4vh;
                    color:rgba(255, 255, 255);
                }
    
    .image{
        display: flex;
        justify-content: center;
    }   
        .profile{
            border-radius: 100%;
            box-shadow: 0px 0px 10px rgb(0, 0, 0);
            height: 30vw;
            margin-top: 5vh;
        }

    .social{
        display: flex;
        flex-direction: column;
        color: red;
        font-weight: 300;
        gap:15px;
        font-size: small;
        margin-top:10vh;    
    }
        #follow{
            writing-mode: vertical-lr;
            width:25px;
            margin-left:1px;
        }
        .slogo{
            width: 18px;
            transition: width 0.5s;
        }
            .slogo:hover{
                width: 22px;
            }