:root{
    --bg:rgb(27, 26, 26);
    --fg:rgb(44, 44, 44);    
}
*{
    padding:0px;
    margin:0px;
    font-family: "Roboto", sans-serif;   
}
body{
    margin:0px;
    padding: 0px;
    color: aliceblue;
}

/* Header section ----------------------------------------------------------------------------------------*/
header{
    padding-top: 40px;
    display: flex;
    height:100px;
    align-items: center;
    background-color: var(--bg);
    
}
    .logocontainer{
        display: flex;
        justify-content: center;
        width:35vw;
        }
        
        
    .buttons{
        display: flex;
        justify-content: flex-end;
        width:65vw;
        font-size:small;
        padding-right: 100px;
        gap:20px;
        padding-right: 130px;
    }
        .btn{
            padding-top: 15px;
            text-decoration: dashed;
            width: 80px;
            color:aliceblue;
            text-align: center;
            transition:color 0.5s ;
            font-family:"Montserrat";
            text-wrap:nowrap;
        }
        .btn:hover{
            color:rgba(240, 248, 255, 0.651);
        }
        .btn-adv{
            padding-top: 15px;
            width:110px;
            min-width:100px;
            height: 30px;
            text-align:center;
            border-radius: 5px;
            background-color: red;
            text-decoration: none;
            color: aliceblue;
            margin-left:20px;
            transition:background-color 0.5s;
            font-family:"Montserrat";
            text-wrap:nowrap;   
            }
            .btn-adv:hover{
                background-color: rgba(255, 0, 0, 0.63);
            }
    .sbh{
        
        height: 100%;
        width: 100vw;
        position: fixed;
        right:-100vw;
        top: 0;
        display: flex;
        align-items: right;
        justify-content: flex-end;
        transition:0.3s ease-out;
    }
    .side-buttons{
        padding-top: 50px;
        position:fixed;
        top:0;
        z-index: 999;
        height: 100%;
        width:300px;
        display: flex;
        flex-direction: column;
        
        background-color: var(--fg);
        box-shadow: 0px 0px 5px var(--bg);
        
    }
    .sbtn{
        text-align: center;
        padding-top: 15px;
        text-decoration: none;
        width: 300px;
        height:40px;
        color:aliceblue;
        transition:color 0.5s ;
        font-family:"Montserrat";
        text-wrap: nowrap;
    }
    .sbtn:hover{
        color:rgb(1, 13, 22);
        background-color: azure;
    }
    .sbtn-adv{
        margin-top: 40px;
        padding-top: 15px;
        width:150px;
        text-align: center;
        height: 30px;
        border-radius: 5px;
        background-color: red;
        text-decoration: none;
        color: aliceblue;
        margin-left:80px;
        transition: background-color 0.5s;
        font-family:"Montserrat";
        text-wrap:nowrap;   
        }
        .sbtn-adv:hover{
            background-color: rgba(255, 0, 0, 0.63);
        }
        .menu{
            display: none; 
        }
/* About Card---------------------------------------------------------------------- */
    .aboutcard{
        display: grid;
        grid-template-columns: 45vw 45vw 2vw;
        grid-template-rows:450px;
        background-color: var(--bg);       

    }
        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
            .textarea{
                display: flex;
                flex-direction: column;
                width: 30vw;
                gap:10px;
            }
                .welcome{
                        width: 120px;
                        height: 25px;
                        text-align: center;
                        padding-top:1.5vh;
                        border-radius: 5px;
                        background-color: rgba(255, 0, 0, 0.795);
                        font-size:10pt;
                        font-family: "Montserrat";
                        color: rgba(255, 255, 255, 0.74);
                }
                .akash{
                   
                    font-size:35pt;
                    font-weight:900;
                    font-family:'Times New Roman', Times, serif;
                    color: rgba(255, 255, 255);
                }
                .sde{
                    font-size:12pt;
                    font-family:"Montserrat";
                    color: rgba(255, 255, 255);
                    padding-bottom: 3vh;
                }
                .intro{
                    font-size:9pt;
                    line-height: 4vh;
                    color:rgba(255, 255, 255);
                }
    
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }   
        .profile{
            border-radius: 100%;
            box-shadow: 0px 0px 20px rgba(243, 219, 1, 0.308);
            height: 300px;
            
        }

    .social{
        display: flex;
        flex-direction: column;
        color:red;
        font-weight: 300;
        gap:15px;
        font-size: small;
        margin-top:20vh;    
    }
        #follow{
            writing-mode: vertical-lr;
            width:25px;
            margin-left:1px;
        }
        .slogo{
            width: 18px;
            transition: width 0.5s;
        }
            .slogo:hover{
                width: 22px;
            }

/*Abstract Section----------------------------------------------------------------------*/
.abstract{
    display:flex;
    height:40vh;
    justify-content: center;
    align-items: center;
    gap:20px;
    width:100%;
    background-color:var(--bg);
    
}   
    .abs{
        font-family:"Montserrat";
        height:25vh;
        width:30vh;
        display: flex;
        flex-direction: column;
        border-color: rgba(165, 12, 12, 0.726);
        border-style: dashed;
        border-width: 1.5px;
        border-radius: 0px 30px 0px 0px;
        text-align: center;
        justify-content: center;
    }
    .top{
        font-family:"Montserrat";
        font-size:40pt;
        font-weight: 800;
    }

    .abs:hover{
        cursor: pointer;
        color: aqua;
        font-family:"Montserrat";
        height:25vh;
        width:30vh;
        display: flex;
        flex-direction: column;
        border-color: rgba(165, 12, 12);
        border-style: groove;
        border-width: 1.5px;
        border-radius: 0px 30px 0px 0px;
        text-align: center;
        justify-content: center;
    }

/*Skills Section----------------------------------------------------------------------*/
.skills{
    padding: 50px;
    display:flex;
    flex-direction: column;
    background-color: var(--bg);
    gap:10px;
}
.skil{
    margin:20px;
    font-size:20pt;
    text-align: center;

    font-family:"Montserrat";
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.skill{
    
    height:170px;
    width:180px;
    background-color: var(--fg);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition:background-color 0.2s;
    gap:5px;
}
.skill:hover{
    background-color: rgb(164, 240, 43);
    cursor: pointer;
}
.skilltext{
    font-family:"Montserrat";
}

/*Portfolio Section----------------------------------------------------------------------*/
.Portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
    height:fit-content;
    width:100%;
    background-color: var(--bg);
}
.porthead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:fit-content;
    gap:20px;
    margin:10px;
}
.portoption{
    display: flex;
    gap:20px;
}
#porttext{

    font-family:"montserrat";
    font-size:20pt;
    
}
#portpers{
    padding: 10px;
    font-family:"montserrat";
    background-color: brown;
    border-radius: 5px; 
}
#portpers:hover{
    cursor: pointer;
    padding: 10px;
    background-color: brown;
}
#portprof{
    padding: 10px;
    font-family:"montserrat";
    border-radius: 5px; 
    background-color: var(--bg);
}


#portprof{
    cursor: pointer;
}

#personal{
    margin:20px;
    display:flex;
        gap:20px;
}
.pro{    
    background-color: var(--bg);
    border-radius: 5px;
    border:2px solid rgba(245, 222, 179, 0.219);

}
.provid{
    width:350px;
    height:200px;
}
#professional{
    margin:20px;
    display:none;
    gap:20px;
}



/*Experience Section----------------------------------------------------------------------*/
.experience{
    display: flex;
    flex-direction: column;
    padding:20px;
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
    font-family:"montserrat";
    gap:1px;
    height: fit-content;
    text-align: center;
}
#exptext{
    font-family:"montserrat";
    font-size:20pt;
    padding-bottom:50px;
    
    text-align: center;
    width:100%;
}
.exp{
    display: flex;
    flex-direction: column;
    font-family:"montserrat";
    gap:20px;
    background-color: var(--fg);
    padding: 20px;
    border-radius:5px;
    width:40vw;
}
.exhead{
    display: flex;
    justify-content: space-between;
}
#extitle{
    text-align: center;
    justify-content: center;
    font-weight:500;
    font-size: 20px;
    font-family:"montserrat";
}
#exduration{
    padding-top: 5px;
    justify-content: center;
    font-size: 15px;
    font-family:"montserrat";
}
#exdesignation{
    font-family:"montserrat";
    font-size: 15px;
}
#exdescription{
    list-style:none;
    line-height: 30px;
    font-size: 12px;
}
#breaker{
    
    height:80px;
    border-style:dotted;
    border-color: var(--fg);

}
