
/* Header section ----------------------------------------------------------------------------------------*/
.menu{
    display:flex;
    transition: display 2s;
    margin-right: 20px;
} 
    .close{
        margin-left: 250px;
        margin-bottom: 40px; 
    }
    .btn{
        display:none;
    }
    .btn-adv{
        display:none;
    }
    .logocontainer{
        width:60vw;
    }
        .logo{
            padding-left:50px;
        }
/* About Card---------------------------------------------------------------------- */

.aboutcard{
    display: flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
}
    .text{
        height:500px;
        padding-bottom: 0px;
    }
        .textarea{
            width: 70vw;
            justify-content: center;
        }
.image{
    height:200px;
}   
    .profile{ 
        height: 200px; 
    }
    .social{
        display:block;
        text-align: center;  
    }
        #follow{ 
            writing-mode: horizontal-tb;
            width:100vw;        
        }
        .slogo{
            padding:10px;
        }
        
/*Skills Section----------------------------------------------------------------------*/
.skills{
    padding: 10px;
    gap:5px;
}
    .row{
        gap:5px;
    }
        .skill{
            height:150px;
            width:120px;
        }
/*Portfolio Section----------------------------------------------------------------------*/
.pro{
    width:80vw;
    height:180px;
}
    .provid{
        width:80vw;
        height:180px;
    }
/*Experience Section----------------------------------------------------------------------*/
.exp{
    width:60vw;
}
    #breaker{
        width:60vw;
    }

.contactme{
    flex-wrap: wrap;
}
    .col1{
        width: 100%;
        padding: 20px;
        padding-right: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
        .cont{
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 15px;
        }
        .col2{
            width: 100%;
            padding:20px;
            padding-left: 20px;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .feed{
            justify-content: center;
            align-items: center;
        }
            textarea ,input{
                width:250px;
                
            }
    

             
    
                