
/* Header section ----------------------------------------------------------------------------------------*/
.menu{
    display:flex;
    transition: display 2s;
    margin-right: 20px;
} 
    .close{
        margin-left: 250px;
        margin-bottom: 40px; 
    }
    .btn{
        display:none;
    }
    .btn-adv{
        display:none;
    }
    .logocontainer{
        width:60vw;
    }
        .logo{
            padding-left:50px;
        }
/* About Card---------------------------------------------------------------------- */

.aboutcard{
    display: flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
}
    .text{
        height:500px;
        padding-bottom: 0px;
    }
        .textarea{
            width: 70vw;
            justify-content: center;
        }
.image{
    height:200px;
}   
    .profile{ 
        height: 200px; 
    }
    .social{
        display:block;
        text-align: center;  
    }
        #follow{ 
            writing-mode: horizontal-tb;
            width:100vw;        
        }
        .slogo{
            padding:10px;
        }
        
/*Skills Section----------------------------------------------------------------------*/
.skills{
    padding: 10px;
    gap:5px;
}
    .row{
        gap:5px;
    }
        .skill{
            height:150px;
            width:120px;
        }
/*Portfolio Section----------------------------------------------------------------------*/
.pro{
    width:80vw;
    height:180px;
}
    .provid{
        width:80vw;
        height:180px;
    }
/*Experience Section----------------------------------------------------------------------*/
.exp{
    width:60vw;
}
    #breaker{
        width:60vw;
    }


    .education{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        background-color: var(--bg);
        padding-top:40px;
    }
        .educationtext{
            font-family:"montserrat";
            font-size:20pt;
            margin-bottom:50px;
            text-align: center;
        }
        .eduholder{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            height: fit-content;
            width: fit-content;
            padding: 20px;
            background-color: var(--fg);
            border-radius: 5px;
            gap:10px;
        }
        .edu{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width:250px;
            height: 150px;
            background-color: var(--bg);
            padding: 20px;
            gap:20px;
            border-radius: 5px;
            box-shadow:0px 0px 10px rgba(0, 0, 0, 0.178);
            font-family:"montserrat";
        }
            .eduln1{
                display: flex;
                justify-content: space-between;
                
            }
                .edul{
                    font-family:"montserrat";
                    font-size: 12pt;
                    font-weight: 400;
                }
            .eduln2{
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
                .edul2{
                    font-family:"montserrat";
                    font-size: 12pt;
                    font-weight: 200;
                }