/* Header section ----------------------------------------------------------------------------------------*/
header{              
    padding-top: 10px;  
}
    .logocontainer{  
        width:40vw; 
    }
    .buttons{ 
        width:60vw;     
    }        
/* About Card---------------------------------------------------------------------- */
.aboutcard{        
        grid-template-rows:500px;
    }
        .text{
            padding-bottom:100px;
        }
        .image{
            padding-bottom: 100px;
        }



